@font-face {
    font-family: "Homemade_Apple";
    src: url("../fonts/Homemade_Apple/HomemadeApple-Regular.ttf");
}

.logo-texto-navbar{
    font-family: "Homemade_Apple";
    color: white !important;
}